@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@400;500&display=swap');

body {
    /* background-color: #E4F9F5; */
    margin: 0;
    text-align: center;
    /* display: grid;
    place-items: center; */
    font-family: 'Roboto', sans-serif;    
}

h1, h2 {
    color: #2b2e2e;
}

h1 {
    margin: 0;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
}

h3, a {
    color: #11999E;
}

a{
    font-weight: bold;
    font-size: 1.2rem;
    margin-left:20px;
    text-decoration: none;
}
hr {
    border-style: dotted;
    border-width: 10px 0 0 0;
    width:5%;
    margin: 50px auto 50px auto;
    border-color: rgb(218, 218, 218);
}

.header-subtitle {
    font-size: 1.1rem;
}

.top-container {
    background-color: #eaf6f6;
    padding-top: 100px;
    position:relative;  
    width: 100%;
    height: 100%;
    margin-bottom: 35px;  
}

.top-cloud {
    position:absolute;
    right: 600px;
    top:50px;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 300px;
}

.profile-photo{
    border-radius: 50%;
    height: 200px;
}

.skill-icon{
    width: 20%;    
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.data-icon {
    float: left;
    margin-right: 30px;
}

.finance-icon {
    float: right; 
    margin-left:30px;  
}

.bottom-container{
    background-color:#66BFBF;
    margin:0;
    padding-top:30px;
    height: 100px;
    line-height: 2;
}

.copyright {
    margin:0;
    padding-bottom:20px;
    color: white;
}

.contact-me{
    margin-bottom: 80px;
    margin-top:80px;
}

.BUTTON_SFQ {
    border: solid #FFFFFF 1px;
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #3F7A7A);
    background-image: -moz-linear-gradient(top, #66BFBF, #3F7A7A);
    background-image: -ms-linear-gradient(top, #66BFBF, #3F7A7A);
    background-image: -o-linear-gradient(top, #66BFBF, #3F7A7A);
    background-image: linear-gradient(to bottom, #66BFBF, #3F7A7A);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 100;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    margin-bottom:0;
}
    
.BUTTON_SFQ:hover {
    border: solid #FFFFFF 1px;
    background: #4DA6DB;
    background-image: -webkit-linear-gradient(top, #4DA6DB, #4897BD);
    background-image: -moz-linear-gradient(top, #4DA6DB, #4897BD);
    background-image: -ms-linear-gradient(top, #4DA6DB, #4897BD);
    background-image: -o-linear-gradient(top, #4DA6DB, #4897BD);
    background-image: linear-gradient(to bottom, #4DA6DB, #4897BD);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
}